*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

header, footer{
	background-color: #1F2937;
	color: white;
	padding: 30px;
}

header a{
	color: white;
}

.header-container{
	max-width: 1200px;
	margin: 0 auto;
}

.header-logo{
	font-size: 24px;
	color: #F9FAF8;
}


.header-nav{
	display: flex;
	margin: 0 auto;
}

.header-links{
	margin-left: auto;
	display: flex;
	gap: 20px;
}

.hero{
	display: flex;
	padding: 20px;
	align-items: center;
	color: #F9FAF8;
	gap: 20px;
}

.hero h2{
	font-size: 48px;
	font-weight: bolder;
}

.hero-image	{
	width: auto;
}

.hero-image img{
	width: 100%;
}

.hero-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.sign-up-button{
	background-color: #3882f6;
	color: #F9FAF8;
	padding: 5px 20px;

	border: none;
	border-radius: 5px;
}

.container-info{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 50px 0;
}

.card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 20px 0 20px 0;
}

.random-info-title{
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
}

.card{
	width: 200px;
}

.card img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.quote-section{
	background-color: #e5e7eb;
}

.quote{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	height: 300px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quote-text{
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1F2937;
}

.author{
	font-size: 16px;
	font-weight: bold;
	align-self: flex-end;
}

.sign-up{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-up-box{
	max-width: 1200px;
	width: 85%;
	background-color: #3882f6;
	color: #F9FAF8;

	padding: 50px;
	display: flex;
	justify-content: space-around;
	border-radius: 20px;
}

.sign-up .sign-up-button{
	border: 2px solid #F9FAF8;
}

.sign-up-title{
	font-size: 24px;
}

.sign-up-text{
	font-size: 14px;
}

footer{
	font-size: 12px;
	text-align: center;
}